.field {
  display: flex;
  flex-direction: column;
}

.field label {
  margin-bottom: var(--space-1x);
}
.field input,
textarea {
  border: 1px solid var(--bg-400);
  border-radius: var(--space-hx);
  padding: var(--space-1x) 12px;
  height: 20px;

  font-family: inherit;
  font-size: 1rem;
}

textarea {
  resize: vertical;
  min-height: min-content;
}

.field input:user-invalid,
.field textarea:user-invalid {
  border: solid var(--accent-500) 1px;
}

.field input:focus-visible,
.field textarea:focus-visible {
  outline: solid var(--bg-500) 2px;
  outline-offset: -2px;
}

.required-symbol {
  color: var(--accent-500);
}
