form > .form-section:not(:last-child) {
  margin-bottom: var(--space-3x);
}

.btn-submit {
  display: block;
  width: 100%;
  font-size: 1.4rem;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: var(--space-2x) var(--space-3x);
}

.edit-title {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-600);
}

.edit-title > img {
  height: 0.7lh;
  margin-right: var(--space-2x);
}

.controls {
  display: flex;
  align-items: center;
  gap: var(--space-2x);
}
